/* Write your CSS code here */

.sec-con {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #8e8e8e;
  margin: 5px;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.third-con {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.fourth-con {
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  width: 40px;
  height: 40px;
}
